<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col min-h-screen justify-center items-center bg-gray-100">
    <div class="max-w-lg text-center">
        <h1 class="text-6xl font-bold text-gray-800">404</h1>
        <p class="text-xl text-gray-600 mb-4">Oops! Page not found</p>
        <p class="text-gray-600 mb-8"><%= errorDescription %></p>
       
    </div>
</body>

</html>
